Source: trac-hudson
Section: web
Priority: optional
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), python (>= 2.7), dh-python, python-setuptools
X-Python-Version: >=2.7
Homepage: http://trac-hacks.org/wiki/HudsonTracPlugin

Package: trac-hudson
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, trac
Description: plugin to integrate the Hudson or Jenkins CI in trac
 Integrate Hudson or the actual fork Jenkins build results into
 the Trac timeline and (optionally) provide a navbar menu to link
 to the Hudson instance.
